html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    width: 75%;
    height: 100vh;
    float: left;
}

#sidebar {
    width: 25%;
    height: 100vh;
    float: right;
    background-color: #f8f8f8;
    padding: 10px;
    box-sizing: border-box;
    overflow-y: auto;
}

.container {
    display: flex;
    height: 100vh;
}


#sidebar ul {
    list-style: none;
    padding: 0;
}

#sidebar ul li {
    padding: 10px 0;
}

#sidebar ul li a {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 10px;
    border: 1px solid #ccc;
    margin: 5px 0;
    border-radius: 4px;
    background-color: #eee;
}

#sidebar ul li a:hover {
    background-color: #ddd;
}


