* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body, html {
    min-height: 100%;
    overflow: auto;
}

.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2.5rem;
    color: #333;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Dwie kolumny */
    grid-gap: 20px;
    padding: 20px;
}

/* Styl dla kafelków */
.tile {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    text-align: left;
}

.tile h3 {
    margin-bottom: 10px;
    color: #007bff;
}

.tile p {
    margin-bottom: 10px;
    color: #555;
}

.tile span {
    display: block;
    font-weight: bold;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}



#commentSection {
    margin-top: 20px;
    padding: 20px;
}

.comment-item {
    margin: 0 auto; /* Wyśrodkowanie elementu */
    max-width: 60%;
    background-color: rgba(255, 255, 255, 0.9); /* Jasne tło jak kafelki */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Cień jak dla kafelków */
}

.comment-username {
    font-weight: bold;
    color: #007bff; /* Ten sam kolor co w kafelkach */
    text-decoration: none;
}

.comment-username:hover {
    text-decoration: underline;
}

.comment-text {
    margin: 10px 0;
    color: #555; /* Ten sam kolor co w kafelkach */
}

.comment-date {
    display: block;
    font-size: 0.85em;
    color: #777;
    margin-top: 10px;
}

