* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body, html {
    height: 100%;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5vh;
    padding: 10px;
}

.background-image {
    position: fixed;
    background-attachment: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.profile-container {
    max-width: 100vh; /* Szerokość kontenera */
    width: 90%; /* Opcjonalnie - aby był responsywny */
    margin: 0 auto;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}


.grid-container {
    display: grid ;
    grid-template-columns: auto auto auto;
    flex-direction: column; /* Ustawienie kafelków jeden pod drugim */
    gap: 20px; /* Przestrzeń między kafelkami */
}

.tile {
    background-color: rgba(255, 255, 255, 0.9);
    border: #2c3e50 solid 3px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    cursor: pointer;
}

.tile-editable {
    background-color: rgba(255, 255, 255, 0.9);
    border: #a127ae solid 3px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    cursor: pointer;
}

.tile-link {
    background-color: rgba(255, 255, 255, 0.9);
    border: #0634ac solid 3px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    cursor: pointer;
}

.tile h3 {
    margin-bottom: 10px;
}

.modal {
    display: none; /* Ukryty domyślnie */
    position: fixed; /* Pozycja na ekranie */
    z-index: 1000; /* Na wierzchu */
    left: 0;
    top: 0;
    width: 100%; /* Pełna szerokość */
    height: 100%; /* Pełna wysokość */
    overflow: auto; /* Włącz przewijanie, jeśli potrzeba */
    background-color: rgba(0, 0, 0, 0.7); /* Ciemne tło z przezroczystością */
}

.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 400px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover {
    color: black;
    cursor: pointer;
}

.tile:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.tile-editable:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#homeButton {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1000;
}

.home-button {
    padding: 10px 20px;
    background: none;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.home-button img.home-icon {
    width: 50px;
    height: auto;
    margin-right: 8px;
    background: transparent;
}

.home-button:hover {
    background-color: #6dc671;
}

@media (max-width: 800px) {

    .body {
        justify-content: center;
    }

    .profile-container {
        justify-self: center;
        position: relative;
        max-width: 90%; /* Szerokość kontenera */
        padding: 10px;
        z-index: 1;
        background-color: rgba(255, 255, 255, 0.6);
        border-radius: 10px;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
    }
    .grid-container {
        display: grid ;
        grid-template-columns: auto auto;
        flex-direction: column; /* Ustawienie kafelków jeden pod drugim */
        gap: 20px; /* Przestrzeń między kafelkami */
    }

    .background-image {
        background-position: 80% center;
        background-attachment: fixed;
        background-size: cover;
    }

}