<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About TTT Project</title>
    <link rel="stylesheet"  th:href="@{/css/styles.css}">
</head>
<body>
<header>
    <div class="login-register">
        <a href="security/login.html">Logowanie</a> |
        <a href="security/register.html">Rejestracja</a>
    </div>
</header>
<div class="container">
    <aside class="menu">
        <!-- Miejsce na menu (do wypełnienia) -->
        <nav>
            <ul>
                <li><a href="/map">Plan Trip</a></li>
                <li><a href="/about">About "TTT" project</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
    </aside>
    <main class="content">
        <!-- Miejsce na ogłoszenia -->
        <section class="announcements">
            <h2>About TTT project</h2>
            <p>The main idea of the project is to gather VERIFIED people
                based on the opinions of other people who love mountain hiking.
                You know who you are going with, and you are not afraid that your
                companions will leave you at a difficult moment or will not show up
                at the meeting point.</p>
        </section>
    </main>
</div>
</body>
</html>