<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success!</title>
    <link rel="stylesheet" th:href="@{/css/successRedirect.css}">
</head>
<body class="background-image" style="background-image: url('/images/background.jpg');">

<div class="success-container">
    <h1>Operation Successful!</h1>
    <p>You will be redirected to the home page in <span id="countdown">3</span> seconds...</p>
</div>

<script>
    // time to redirect (in sec)
    var countdownTime = 3;
    var countdownElement = document.getElementById("countdown");


    var countdownInterval = setInterval(function () {
        countdownTime--;
        countdownElement.textContent = countdownTime;

        if (countdownTime === 0) {
            clearInterval(countdownInterval);

            // actual URL
            var currentURL = window.location.pathname;
            window.location.href = '/'; //default

        }
    }, 1000);
</script>

</body>
</html>
