<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ogłoszenia</title>
    <link rel="stylesheet" th:href="@{/css/anoucements.css}">
</head>
<body style="background-image: url('/images/1 (2).jpg');">
<!-- Główna sekcja z ogłoszeniami -->
<div class="container announcements-container">
    <h1>Ogłoszenia</h1>
    <div class="announcement-list">
        <div class="announcement-item">
            <h2>Ogłoszenie 1</h2>
            <p>Opis ogłoszenia 1: Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <a href="#">Czytaj więcej</a>
        </div>
        <div class="announcement-item">
            <h2>Ogłoszenie 2</h2>
            <p>Opis ogłoszenia 2: Donec vehicula diam vitae leo congue vestibulum.</p>
            <a href="#">Czytaj więcej</a>
        </div>
        <div class="announcement-item">
            <h2>Ogłoszenie 3</h2>
            <p>Opis ogłoszenia 3: Vestibulum ante ipsum primis in faucibus orci luctus et.</p>
            <a href="#">Czytaj więcej</a>
        </div>
    </div>
</div>

<script type="text/javascript" src="/js/index.js"></script>
</body>
</html>
