<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Główna Strona</title>
    <link rel="stylesheet" th:href="@{/css/indexStyles.css}">
</head>
<body style="background-image: url('/images/background.jpg');">

<div th:if="${#authorization.expression('isAuthenticated()')}">
    <a href="/" id="homeButton">
        <button class="home-button" id="home-button"><img src="/images/mainMenu_png/home-button.png" alt="return home" class="home-icon"></button>
    </a>
</div>

<div class="login-container">
    <main class="gridLogin">
        <!-- Kafelki menu -->
        <div class="tile">
            <div th:if="${not #authorization.expression('isAuthenticated()')}">
                <a href="/login">
                    <img src="/images/mainMenu_png/login.png" alt="User Profile">
                    <span>Login</span>
                </a>
            </div>
            <div th:if="${#authorization.expression('isAuthenticated()')}">
                <a href="#" th:href="@{logout}" th:method="post">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                    <img src="/images/mainMenu_png/user-logout.png" alt="User Profile">
                    <span>Logout</span>
                </a>
            </div>
        </div>
        <div class="tile">
            <div th:if="${not #authorization.expression('isAuthenticated()')}">
                <a href="/register">
                    <img src="/images/mainMenu_png/register.png" alt="Plan Trip">
                    <span>Register</span>
                </a>
            </div>
            <div th:if="${#authorization.expression('isAuthenticated()')}">
                <form id="saveForm" th:action="@{/findFriend}" method="GET">
                    <button type="submit" id="findFriend" style="border: none; background: none;">
                        <img src="/images/mainMenu_png/find_friend.png" alt="Find Friend">
                        <span>Find Friend</span>
                    </button>
                    <input type="text" id="friendName" name="friendName" placeholder="Search user by name..." required/>
                    <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
                </form>
            </div>

        </div>
    </main>
</div>

<div class="container">
    <main class="grid">
        <!-- Kafelki menu -->
        <div class="tile">
            <div th:if="${not #authorization.expression('isAuthenticated()')}">
                <a href="/login">
                    <img src="/images/mainMenu_png/user-profile_not_active.png" alt="User Profile">
                    <span>Login to view user profile</span>
                </a>
            </div>
            <div th:if="${#authorization.expression('isAuthenticated()')}">
                <a href="/myProfile">
                    <img src="/images/mainMenu_png/user-profile.png" alt="User Profile">
                    <span>my profile</span>
                </a>
            </div>
        </div>
        <div class="tile">
            <div th:if="${#authorization.expression('isAuthenticated()')}">
                <a href="/map">
                    <img src="/images/mainMenu_png/map.png" alt="Plan Trip">
                    <span>Plan a trip</span>
                </a>
            </div>
            <div th:if="${not #authorization.expression('isAuthenticated()')}">
                <a href="/login" id="mapButton">
                    <img src="/images/mainMenu_png/not_active_map.png" alt="Plan Trip">
                    <span>Login to plan a Trip</span>
                </a>
            </div>
        </div>

        <div class="tile">
            <div th:if="${#authorization.expression('isAuthenticated()')}">
                <a href="/announcement">
                    <img src="/images/mainMenu_png/announcement.png" alt="Announcements">
                    <span>Announcement</span>
                </a>
            </div>
            <div th:if="${not #authorization.expression('isAuthenticated()')}">
                <a href="/login" id="announcementButton">
                    <img src="/images/mainMenu_png/announcement_no_active.png" alt="Announcements">
                    <span>Login to view announcement</span>
                </a>
            </div>
        </div>

        <div class="tile">
            <a href="#" id="contactButton">
                <img src="/images/mainMenu_png/contact.png" alt="Contact">
                <span>Contact</span>
            </a>
        </div>

        <div class="tile">
            <div th:if="${not #authorization.expression('isAuthenticated()')}">
                <a href="/login" id="find_TripButton">
                    <img src="/images/mainMenu_png/findTrip_noActive.png" alt="Find Trip">
                    <span>Login to Find Trip!</span>
                </a>
            </div>

            <div th:if="${#authorization.expression('isAuthenticated()')}">
                <form id="Form" th:action="@{/findTrip}" method="GET">
                    <button type="submit" id="find_Trip" style="border: none; background: none;">
                        <img src="/images/mainMenu_png/findTripColor_active.png" alt="Find Trip">
                        <span>I want to go...</span>
                    </button>
                    <input type="text" id="tripDestination" name="tripDestination"
                           placeholder="Search trip by destination..." required/>
                    <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
                </form>
            </div>
        </div>

        <div class="tile">
            <a href="#" id="aboutButton">
                <img src="/images/mainMenu_png/about.png" alt="About">
                <span>About "TTT" Project</span>
            </a>
        </div>

    </main>
</div>


<!-- Modal -->
<div id="loginModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Login</h2>
        <form th:action="@{login}" method="post">
            <div>
                <label>
                    <input type="email" name="email" placeholder="Username" required/>
                </label>
                <i class="bx bxs-user"></i>
            </div>
            <div>
                <label>
                    <input type="password" name="password" placeholder="Password" required/>
                </label>
                <i class="bx bxs-lock-alt"></i>
            </div>

            <div class="remember-fogot">
                <label><input type="checkbox">Remember me</label>
            </div>
            <input type="submit" value="Log in"/>
            <a href="#">Forgot Password?</a>
            <div class="register-link"><p>Don't have an account? <a href="/register">Register</a></p></div>
        </form>
    </div>
</div>


<div id="registerModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Register</h2>
        <form th:action="@{/register}" method="post">
            <div>
                <label>
                    <input type="email" name="email" id="emailInput" placeholder="Email" required/>
                    <span id="message"></span>
                </label>
                <i class="bx bxs-envelope"></i>
            </div>
            <div>
                <label>
                    <input type="password" name="password" placeholder="Password" id="passwordInput" required/>
                </label>
                <i class="bx bxs-lock-alt"></i>
            </div>
            <input type="submit" id="submitRegister" value="Register"/>
        </form>
    </div>
</div>


<div id="aboutModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>About TTT project</h2>
        <p>The main idea of the project is to gather VERIFIED people
            based on the opinions of other people who love mountain hiking.
            You know who you are going with, and you are not afraid that your
            companions will leave you at a difficult moment or will not show up
            at the meeting point.</p>
    </div>
</div>

<div id="contactModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Contact</h2>
        <p><img src="/images/mainMenu_png/mail.png" alt="" class="mail-icon"> Contatct with me by email:
            mateusz94orzel@gmail.com</p>
    </div>
</div>
<div th:if="${not #authorization.expression('isAuthenticated()')}">
    <p>Hello dear guest! Login to take an action!</p>
</div>
<div th:if="${#authorization.expression('isAuthenticated()')}">
    <p>Hello, you are logged!</p>
</div>
<input th:value="${users}"
       id="usersData" typeof="hidden" type="hidden">
<script type="text/javascript" th:src="@{/js/index.js}"></script>
</body>
</html>