<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Główna Strona</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
<header>
    <div class="login-register">
        <a href="security/login.html">Logowanie</a> |
        <a href="security/register.html">Rejestracja</a>
    </div>
</header>
<div class="container">
    <aside class="menu">
        <!-- Miejsce na menu (do wypełnienia) -->
        <nav>
            <ul>
                <li><a href="#">Zaplanuj Wycieczkę</a></li>
                <li><a href="#">O Projekcie "TTT"</a></li>
                <li><a href="#">Kontakt</a></li>
            </ul>
        </nav>
    </aside>
    <main class="content">
        <!-- Miejsce na ogłoszenia -->
        <section class="announcements">
            <h2>Ogłoszenia</h2>
            <p>Brak nowych ogłoszeń.</p>
        </section>
    </main>
</div>
</body>
</html>