<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
    <link rel="stylesheet" th:href="@{/css/passwordRetrieve.css}">
</head>
<body>
<div class="container">
    <h1>Password Reset</h1>
    <p>A verification code has been sent to your email address. If you don't see it, check your SPAM folder.</p>
    <form id="resetPasswordForm" action="/resetPassword" method="POST">
        <div class="form-group">
            <label>Verification code</label>
            <input type="number" id="codeText" name="code" required placeholder="verification code">
            <input type="hidden" id="userCode" name="userCode" th:value="${code}">
            <input type="hidden" id="email" name="email" th:value="${email}">
        </div>
        <div class="form-group">
            <label for="newPassword">New password:</label>
            <input type="password" id="newPassword" name="newPassword" required placeholder="new password">
            <small id="passwordHelp" class="form-text"> Password must contain at least 8 characters, 1 capital letter and 1 number.</small>
        </div>
        <div class="form-group">
            <label for="confirmPassword">Repeat new password:</label>
            <input type="password" id="confirmPassword" name="confirmPassword" required placeholder="Repeat new password:">
        </div>
        <button type="submit" id="resetButton" name="_csrf" th:value="${_csrf.token}" disabled>reset password</button>

    </form>
    <p class="message" id="responseMessage"></p>
</div>

<script th:src="@{/js/passwordRetrieve.js}"></script>
</body>
</html>
