<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success!</title>
    <style></style>
</head>
<body class="background-image" >

<div class="success-message">The operation was successful!</div>
<div class="redirect-message">You will be redirected to the home page in<span id="countdown">5</span> sekund...</div>

<script>
    // Czas do przekierowania (w sekundach)
    var countdownTime = 5;
    var countdownElement = document.getElementById("countdown");

    // Odliczanie co 1 sekundę
    var countdownInterval = setInterval(function() {
        countdownTime--;
        countdownElement.textContent = countdownTime;

        // Kiedy odliczanie dobiegnie końca, przekieruj użytkownika
        if (countdownTime === 0) {
            clearInterval(countdownInterval);
            window.location.href = "/";  // Przekierowanie na stronę główną
        }
    }, 1000);
</script>

</body>
</html>
