<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" href="/css/userPanelStyles.css">
</head>
<body>
<div class="background-image" style="background-image: url('/images/userProfile/backgroundUserProfile.jpg');"></div>

<div class="profile-container">
    <h1>User Profile</h1>

    <div class="grid-container">
        <div class="tile editable" data-field="username" data-label="Username">
            <h3>Username</h3>
            <p id="username-display" th:text="${customUser.getCustomUserName()}">Username</p>
        </div>
        <div class="tile editable" data-field="age" data-label="Age">
            <h3>Age</h3>
            <p id="age-display" th:text="${customUser.getAge()}">?</p>
        </div>
        <div class="tile editable" data-field="city" data-label="city">
            <h3>City</h3>
            <p id="city" th:text="${customUser.getCity()}">?</p>
        </div>
        <div class="tile" data-field="email" data-label="Email">
            <h3>Email</h3>
            <p id="email-display" th:text="${customUser.getEmail()}">Email</p>
        </div>
        <div class="tile">
            <h3>Number of Trips</h3>
            <p th:text="${customUser.getNumbersOfTrips()}">numbers</p>
        </div>

        <form action="/tripsOwned" method="GET">
            <input type="hidden" name="userID" th:value="${customUser.getId()}">
            <div class="tile" onclick="this.closest('form').submit()">
                <h3>Trips Created</h3>
                <p th:text="${numberOfTripsOwned}">?</p>
            </div>
        </form>

        <form action="/tripsParticipated" method="GET">
            <input type="hidden" name="userID" th:value="${customUser.getId()}">
            <div class="tile" onclick="this.closest('form').submit()">
                <h3>Trips Participated</h3>
                <p th:text="${tripsParticipated.size()}">?</p>
            </div>
        </form>

                <div class="tile">
                    <h3>Rating</h3>
                    <p th:text="${rate}">?</p>
                </div>
            </div>
        </div>


        <script type="text/javascript" th:src="@{/js/userProfile.js}"></script>
</body>
</html>
